<div class="container">
  <form id='form1' action='/cool_url' method='get'>
    <input type='text' name='user_input'>
    <input id='button1' type='submit' value='submit get'>
  </form>
  <form id='form2' action='/cool_url' method='post'>
    <input type='text' name='user_input'>
    <input id='button2' type='submit' value='submit post'>
  </form>
</div>
